lxml==4.3.0
numpy==1.16.4
nose==1.3.7
concurrent_log_handler==0.9.16
tensorflow==1.14.0
PyExecJS==1.5.1
requests==2.21.0
requests_toolbelt==0.9.1
Pillow==6.2.1
redis==3.2.0
pymongo>=3.7.2
APScheduler>=3.6.0
